# Application Environment
APP_ENV=development

# LangSmith Configuration
LANGSMITH_API_KEY=your-api-key
LANGSMITH_PROJECT=your_project_name
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

# Server Configuration
HOST=127.0.0.1
PORT=8000
